.card-product {
  @apply p-4;
  background-color: #ffffff;
  border-radius: 12px;
}

.card-product p {
  @apply text-base;
}

.product-type {
  @apply font-bold;
  color: #dc294f;
}

.product-description {
  @apply mt-1.5 font-medium;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-note {
  @apply mt-1.5;
  color: #bbb4b4;
}
