header {
  position: sticky;
  top: 0;
  background-color: #ffffff;
}

.app-logo {
  height: 28px;
  width: auto;
}

.search-bar {
  @apply flex justify-between items-center px-4 py-1.5;
  font-family: 'Poppins', sans-serif;
  font-size: 10px;
  border: 1px solid #bbb4b4;
  color: #bbb4b4;
  border-radius: 5px;
}

.search-input {
  @apply ml-2;
  min-width: 400px;
  outline: none;
}

.btn-auth {
  @apply flex items-center py-4 px-4;
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
  background-color: #DC294F;
}

.btn-auth:hover {
  opacity: 0.6;
}

.nav-header {
  @apply flex justify-around items-center mx-auto py-2;
  max-width: 780px;
}

.nav-header a {
  @apply px-2 py-0.5 font-semibold;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
}

.nav-header a:hover {
  color: #DC294F;
}