.App-Banners {
  @apply mx-auto mt-2 flex justify-center items-center text-center;
  color: #bbb4b4;
  background-color: #dacece;
  border: 1px solid #bbb4b4;
  border-radius: 2px;
}

.frame-970-50 {
  width: 970px;
  height: 59px;
}

.frame-970-250 {
  width: 970px;
  height: 250px;
}

.section{
  @apply mx-auto py-4;
  width: 1012px;
}