@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
}

h2 {
  font-size: 18px;
  line-height: 21px;
  font-weight: 600;
}

.subtitle {
  @apply mt-2;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}